.root {
    -fx-background-color: #2f2e2e;
    -fx-background-radius: 15px;
}

/* UPPER PANEL*/

.upper-panel {
    -fx-background-color: transparent;
}

.title-label {
    -fx-text-fill: #f3f3f3;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-font-family: Carlito;
    -fx-font-weight: 600;
}

.cloud-button {
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.close-button {
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-radius: 50px;
    -fx-background-color: red;
    -fx-cursor: hand;
}

.close-icon {
    -fx-text-fill: white;
    -fx-fill: white;
}


/* LEFT PANEL */

.aside-panel {
    -fx-background-color: #262525;
    -fx-background-radius: 15px 0 0 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
    -fx-pref-width: 42px;
    -fx-min-width: 42px;
    -fx-max-width: 42px;
    -fx-transition: all 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    -fx-padding: 20px 10px;
    -fx-vgap: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 1px 0 0;
}

.aside-panel:hover {
    -fx-pref-width: 120px;
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-effect: dropshadow(gaussian, rgba(58, 58, 59, 0.8), 20, 0.5, 0, 8);
}
.panel-button {
    -fx-background-color: transparent;
    -fx-pref-width: 100px;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 5px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
    -fx-content-display: left;
    -fx-graphic-text-gap: 10px;
}

.panel-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.aside-panel .panel-button .text {
    -fx-opacity: 0;
    -fx-transition: opacity 0.6s ease 0.4s;
}

.aside-panel:hover .panel-button .text {
    -fx-opacity: 1;
}

.button-icon {
    -fx-fill: white;
    -fx-transition: all 0.3s ease;
    -fx-font-size: 15px;
    -fx-icon-size: 15px;
}

.panel-button:hover .button-icon {
    -fx-fill: #e0b41e;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.panel-button.active,
.panel-button.active .button-icon{
    -fx-fill: #e0b41e;
    -fx-text-fill: #e0b41e;
}


.header-panel {
    -fx-background-color: #262525;
    -fx-background-radius: 0px 20px 0px 0px;
    -fx-pref-width: 180px;
    -fx-pref-height: 50px;
    -fx-border-color: #e0b41e;
    -fx-border-width: 0px 0px .5px 1px;
}

.header-label {
    -fx-text-fill: #f3f3f3;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: Carlito;
    -fx-font-weight: 600;
}
