.entry-container{
    -fx-background-color: #262525;
    -fx-pref-height: 500px;
    -fx-background-radius: 36px;
    -fx-pref-width: 300px;
}
.entry-label{
    -fx-text-fill: #E6F4EF;
    -fx-font-weight: 700;
    -fx-font-family: Carlito;
    -fx-font-size: 18px;
}
.entry-input {
    -fx-background-color: #E6F4EF;
    -fx-background-radius: 8px;
    -fx-padding: 12px 16px;
    -fx-text-fill: #000000;
}
.run-btn {
    -fx-background-color: rgba(21, 20, 20, 0.74);
    -fx-background-radius: 12px;
    -fx-padding: 14px 22px;
    -fx-font-weight: 700;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-border-color: #e0b41e;
    -fx-text-fill: #E6F4EF;
    -fx-cursor: hand;
}