.result-container {
    -fx-background-color: #262525;
    -fx-pref-height: 500px;
    -fx-background-radius: 36px;
    -fx-pref-width: 300px;
    -fx-padding: 20px 0x;
}

.result-header-container {
    -fx-background-color: #171616;
    -fx-background-radius: 36px 36px 0px 0px;
}

.result-header {
    -fx-text-fill: #E6F4EF;
    -fx-font-weight: 700;
    -fx-font-family: Carlito;
    -fx-font-size: 18px;
}

.result-label {
    -fx-text-fill: #E6F4EF;
    -fx-font-weight: 700;
    -fx-font-family: Carlito;
    -fx-font-size: 15px;
}
.reload-button {
    -fx-background-color: #343232;
    -fx-background-radius: 50px;
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.reload-icon {
    -fx-text-fill: white;
    -fx-fill: white;
}
